body {
    text-align: center;
    background-image: url(Joker.jpg);
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
}

.header{
    color: white;

}

#h1{
    font-size: 400%;;
}

#h2{
    font-size: 200%;
}

#texto{
    padding: 2%;
}

#botao{
    padding: 2%;
    margin-top: 1cm;
}